.main-header {
    height: auto;
    background-color: #1abc9c;
    color:  #F5ECCC;
    text-align: center;
    
}

.logged-in-user-greeting  {
    background-color: #1abc9c;
    text-align: center;
    color:  #F5ECCC;
    font-size: 0.8em;
}

.main-header h1 {
    padding: 20px 20px;
    
}