.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    input{
        padding: 10px 0 10px 0;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid $bgColor;
        background-color: white;
    
        &::placeholder {
            color: $bgColor;
            text-align: center;
        }
    }
}

input[type=submit] {
    padding: 5px;
    background-color: $bgColor;
    color: $textColor;
    font-family: "Raleway";
    font-size: 1.2em;
}